In [4]:
from make_dataset import get_data

In [5]:
data = get_data()

In [6]:
data.head()

,timestamp,cookie_id,campaign_id,external_site_id,date_impression,date_clic,product_id,gender,dept,price,age,date_achat,is_clic,is_achat
0,1761958804,2392769782,3,370668,2025-11-01 01:00:04,NaT,NaN,NaN,NaN,NaN,NaN,NaT,False,False
1,1761958876,2693949047,1,339897,2025-11-01 01:01:16,NaT,NaN,NaN,NaN,NaN,NaN,NaT,False,False
2,1761958920,6841408721,2,989339,2025-11-01 01:02:00,NaT,NaN,NaN,NaN,NaN,NaN,NaT,False,False
3,1761958986,1457891936,1,530191,2025-11-01 01:03:06,NaT,NaN,NaN,NaN,NaN,NaN,NaT,False,False
4,1761959035,5354259272,1,206900,2025-11-01 01:03:55,NaT,NaN,NaN,NaN,NaN,NaN,NaT,False,False